<dom-module id="container-element">
    <template>
        <paper-drawer-panel>
          <paper-header-panel drawer>
            <paper-toolbar>
              <div>Application</div>
            </paper-toolbar>
            <div> Drawer content... </div>
          </paper-header-panel>
          <paper-header-panel main>
            <paper-toolbar>
              <paper-icon-button icon="menu" paper-drawer-toggle></paper-icon-button>
              <div>Title</div>
            </paper-toolbar>
            <div> Main content... </div>
          </paper-header-panel>
        </paper-drawer-panel>
    </template>
    <script>
        Polymer({
        is:"container-element"
    </script>
</dom-module>